<form action = "/phonebook" method = "post">
<input type = "text" name = "first_name"> First name 
<input type = "text" name = "last_name"> Last name
<input type = "text" name = "street_address"> Street address
<input type = "text" name = "city"> City
<input type = "text" name = "state"> State
<input type = "text" name = "zip"> Zipcode
<input type = "text" name = "cell_phone"> Cell phone
<input type = "text" name = "home_phone"> Home phone
<input type = "text" name = "work_phone"> Work phone
<input type  = "submit" value = "submit"> Submit
</form>
